<div class="container my-5 p-4 shadow-lg rounded bg-light">
    <h1 class="mb-4 text-center text-primary">Update Student</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <form #form="ngForm" (ngSubmit)="updateStudent()">
                <div class="mb-4">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control form-control-lg rounded-pill" id="id" 
                           name="id" readonly [(ngModel)]="studentDetails.id">
                </div>

                <div class="mb-4">
                    <label for="std" class="form-label">Student Id</label>
                    <input type="text" class="form-control form-control-lg rounded-pill" id="std_id" 
                           name="std" [(ngModel)]="studentDetails.std" placeholder="Enter Student ID">
                </div>

                <div class="mb-4">
                    <label for="name" class="form-label">Student Name</label>
                    <input type="text" class="form-control form-control-lg rounded-pill" id="name" 
                           name="name" [(ngModel)]="studentDetails.name" placeholder="Enter Student Name">
                </div>

                <div class="mb-4">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control form-control-lg rounded-pill" id="email" 
                           name="email" [(ngModel)]="studentDetails.email" placeholder="Enter Email Address">
                </div>

                <div class="mb-4">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control form-control-lg rounded-pill" id="phone" 
                           name="phone" [(ngModel)]="studentDetails.phone" placeholder="Enter Phone Number">
                </div>

                <div class="mb-4">
                    <label for="department" class="form-label">Department</label>
                    <input type="text" class="form-control form-control-lg rounded-pill" id="department" 
                           name="department" [(ngModel)]="studentDetails.department" placeholder="Enter Department">
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary btn-lg rounded-pill">Submit</button>
                    <button type="button" class="btn btn-danger btn-lg rounded-pill" 
                            (click)="deleteStudent(studentDetails.id)">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
