<div class="container my-5">
    <h1 class="mb-4 text-center text-primary">Students Directory</h1>
    
    <div class="container-fluid">
        <div class="navbar bg-body-tertiary p-3 rounded shadow-sm mb-4">
            <div class="input-group">
                <input class=" rounded-pill border-0 shadow-sm ms-2" 
                       type="search" 
                       placeholder="   Search by Student ID" 
                       aria-label="Search" 
                       [(ngModel)]="searchTerm"
                       style="width: -auto;">
                <button class="btn btn-primary rounded-pill ms-5 shadow-sm" 
                        (click)="searchStudent()" 
                        type="submit">
                    <i class="bi bi-search"></i> Search
                </button>
            </div>
        </div>
    </div>
    
    
    <div class="table-responsive shadow-lg rounded" id="student-table">
        <table class="table table-hover table-bordered text-center align-middle">
            <thead class="table-primary">
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Department</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of filteredStudents">
                    <td>{{student.std}}</td> 
                    <td>{{student.name}}</td> 
                    <td>{{student.email}}</td>
                    <td>{{student.phone}}</td>
                    <td>{{student.department}}</td> 
                    <td>
                        <a [routerLink]="['/students', 'edit', student.id]" class="btn btn-outline-primary btn-sm rounded-pill">
                            View
                        </a>
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-success btn-lg px-4 mt-3 rounded-pill shadow-sm" (click)="generatePDF()">
        Generate Report
    </button>
    
    <p *ngIf="!filteredStudents || filteredStudents.length <= 0" class="text-center text-muted mt-4">No Students found</p>
</div>
