<div class="container my-5">
    <h1 class="mb-4 text-center text-primary">Students</h1>
    <div class="container-fluid">
        <div class="navbar bg-body-tertiary">

        <div class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
          [(ngModel)]="searchTerm" >
          <button class="btn btn-outline-success"  (click)="searchStudent()"type="submit">Search</button>
        </div>
      </div>
    </div>
    
    <div class="table-responsive shadow-lg rounded">
        <table class="table table-hover table-bordered text-center align-middle">
            <thead class="table-primary">
                <tr>
                  
                    <th>Student Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Department</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of filteredStudents">
                   
                    <td>{{student.std}}</td> 
                    <td>{{student.name}}</td> 
                    <td>{{student.email}}</td>
                    <td>{{student.phone}}</td>
                    <td>{{student.department}}</td> 
                    <td>
                        <a [routerLink]="['/students', 'edit', student.id]" class="btn btn-outline-primary btn-sm rounded-pill">
                            View
                        </a>
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
    
    <p *ngIf="!filteredStudents || filteredStudents.length <= 0" class="text-center text-muted mt-4">No Students found</p>
